*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
   font-family: 'Poppins', sans-serif;
   margin-top: 40px;
   background: url(https://pbs.twimg.com/media/DQ4ebGYU8AAl4FA.jpg:large);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   height: 100vh;
  
  }
  
  .container {
    padding: auto;
    color: azure;
     
  }
  
  h1 {
    color: #10bee9;
    font-size: 24px;
    font-weight: 100;
    line-height: 0, auto;
    margin: 0, auto;
    margin-left: 10px;
    margin-top: 30px;
  }
  
  ul {
    margin-left: 10px;
    padding: 0;

  }
  
  li {
    color:whitesmoke;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
    margin-left: 5px;

  }


   .weather-app {
    padding: 30px auto;
    margin: 30px, auto;
    border-radius: 15px;
    max-width: 800px;
    Top: -40px;
    bottom: -80px;
    background-color:black;
  
  }
  
  .weather-icon {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    caret-color: auto;
  }
  
  .temperature {
    color: rgb(221, 194, 194);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;

  }
  
  .units {
    position: relative;
    top: -34px;
    color: #5ebdca;
  }
  
  .search-form {
    border-color:#655eca;
    box-shadow: #7c7c7c;
    margin-top: -20px;
    margin-left: 10px;
    
       
  }

  .blockquote {
    display: block;
    text-align: center;
    }

  
    .future-forecast {
      background:rgba(24,24,27,0.8) ;
      padding: 25px;
      position: fixed;
      bottom: 0;
      display: flex;
      color: white;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
 
 
 .future-forecast.weatherForecast {
  display: flex;

 }
  
 
 
 
 
 

 